.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  margin: 0 20px;
}

.productItem img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }
}

.productTitle {
  padding-bottom: 20px;
  color: blueviolet;
}